<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %} {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e98bdcb1c4.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark" style="background-color:rgb(46, 112, 114)">
        <a class="navbar-brand" href="/home"> Your ideas matter   <i class="far fa-lightbulb"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Our Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/add">Add a New Post</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %} {% endblock %}
    </div>
    <footer id='footer' class="footer py-3" style="background-color:rgb(46, 112, 114); text-align:center; margin-top: 20px;">
        <ul style="display: inline; list-style: none;">
            <li style="display: inline;"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter" style="color: white; padding-right: 50px;"></i></a></li>
            <li style="display: inline;"></li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" style="color: white;padding-right: 50px;"></i></a></li>
            <li style="display: inline;"></li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube" style="color: white;padding-right: 50px;"></i></a></li>
            <li style="display: inline;"></li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: white;padding-right: 50px;"></i></a></li>
        </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>