{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<br>
<style>
    body {
        background: url('static/images/blue-universe-956981.jpg') no-repeat center;
        background-size: cover;
    }
</style>


<main role="main">
    <br>
    <div class="jumbotron" style="margin-top: 30px;">
        <h1 class="display-4-center">I am so glad you've decided to explore our blog!</h1>
        <br>
        <p class="lead">We strongly believe that every story is unique and extraordinary and every single post matters! Do not hesitate to share your thoughts and ideas! Together we can make this world a better place!
        </p>
        <p class="lead">As we continue to work on making impact, please share your experience in "Our Posts" section. Your voice will be heard by thousands of people across the Globe!
        </p>

        <hr class="my-4">

        <a class="btn" style="background-color: rgb(51, 128, 131); color: rgb(255, 255, 255);" href="/signup" role="button">Sign up and post today!</a>
    </div>
</main>

<br> {% endblock %}